PORT=3000
# Local MongoDB (Docker)
MONGODB_URI=mongodb://username:password@localhost:27017/comicWebDB?authSource=admin
# MongoDB Atlas (Cloud)
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/comicWebDB?retryWrites=true&w=majority
NODE_ENV=development
